@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        Book Study Room
    </div>
    <div class="card-body">
        <p>
            Book a study room with ease :
        </p>
        <a asp-action="Book" asp-controller="RoomBooking" class="btn btn-primary">Book Study Room</a>
    </div>
</div>
